<section class="articles">
  <h2 class="articles__heading">Careers</h2>

  <ul class="article-ul">
    <a href="#">
      <span>Software Engineer</span>
      <span class="article-list__date">Dates</span>
    </a>
    <a href="#">
      <span>Cloud Engineer</span>
      <span class="article-list__date">Dates</span>
    </a>
    <a href="#">
      <span>Frontend Develeper</span>
      <span class="article-list__date">Dates</span>
    </a>
    <a href="#">
      <span>Backend Developer</span>
      <span class="article-list__date">Dates</span>
    </a>
    <a href="#">
      <span>Full Stack Developer</span>
      <span class="article-list__date">Dates</span>
    </a>
  </ul>
</section>
